[Unit]
Description=Temporary Git HTTP Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/git-http-server.sh
ExecStopPost=/usr/local/bin/git-http-server-cleanup.sh

Restart=no

[Install]
WantedBy=multi-user.target
